* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.changeBack-btn {
  width: 150px;
  height: 150px;
  font-size: 30px;
  font-style: serif;
  border: none;
  border-radius: 20%;
  color: mediumpurple;
  background-color: orange;
  transition: 0.5s;
}

.changeBack-btn:hover {
  transform: scale(1.2) rotate(360deg);
  filter: brightness(130%);
}
.changeBack-btn:active {
  filter: brightness(80%);
}
